
<h2>My Heroes</h2>
<ul class="heroes">
    <li *ngFor="#hero of heroes"
        [class.selected] = "hero === selectedHero"
        (click)="onSelect(hero)">
        <md-checkbox [checked]="hero.selected" (change)="hero.selected = $event">
          <span class="badge">{{hero.id}}</span> {{hero.name}}
        </md-checkbox>
    </li>
</ul>
<button [disabled]="!someHeroSelected()"  (click)="removeSelectedHeroes()">Delete</button>

<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} is my hero
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>

<my-modal></my-modal>
