 <!-- template -->
 <!-- On form submit, we call the Login event with the username and the password from the inputs -->
 <!--form (submit)="login($event, username.value, password.value)">
   <label for="username">Username</label>
   <input type="text" #username class="form-control" id="username" placeholder="Username">
   <label for="password">Password</label>
   <input type="password" #password class="form-control" id="password" placeholder="Password">
   <button type="submit">Submit</button>
 </form-->
 
<div *ngIf="!_authService.isAuthenticated()">
    <h1>Login</h1>
    <form #f="ngForm" (ngSubmit)="login(f)">
        <div ngControlGroup="credentials">
          <label for="username">Username</label>
          <input type="text" ngControl="username" class="form-control" id="username" placeholder="Username">
          <label for="password">Password</label>
          <input type="password" ngControl="password" class="form-control" id="password" placeholder="Password">
          <button type="submit">Log In</button>
        </div>
    </form>
</div>

<div *ngIf="_authService.isAuthenticated()">
    <p>Hi, <em>{{_authService.getUsername()}}</em></p>
    <p>Thank you for coming</p>
    <button (click)="logout()">Log Out</button>
</div>

{{randomQuote}}<br/>
<button (click)="getRandomQuote()">Get Random Quote</button>
 